#container {
   
    width: 800px;
    height: 800px;
       display: flex;
       flex-wrap: wrap;
}

#container div{

   background-color: skyblue;
   border: 1px solid brown;
   box-sizing: border-box;
   
   
}  